.carousel {
    backdrop-filter: blur(4px);
    padding-top: 37px;
    padding-bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    & .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #3ed4d6, $alpha: 0.3);
        filter: blur(7px);
    }

    &__container {
        height: 500px;
        width: 100%;
        perspective: 100rem;
        position: relative;

        &--img {
            position: absolute;
            background-color: #ece4db;
            border-radius: 3px;
            box-shadow: 8px 12px 14px -6px black;

            & img {
                max-height: 500px;
                max-width: 50vw;
                border-radius: 20px;
                box-shadow: 0 7px 20px 2px rgb(150, 170, 180);
                margin: 1rem;
            }
        }

        &--index {
            position: absolute;
            bottom: 27px;
            left: 50%;
            transform: translateX(-50%);

            & span {
                display: inline-block;
                background-color: white;
                height: 8px;
                width: 8px;
                border-radius: 100%;
                transition: 0.5s ease;
                opacity: 0.3;

                &.selected {
                    opacity: 1;
                }

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }

        &--shadow {
            position: absolute;
            bottom: -38px;
            transform: translateY(50%);
            width: 100%;
            height: 8px;
            border-radius: 17.5px;
            -webkit-filter: blur(4px);
            filter: blur(4px);
            background-image: linear-gradient(
                to right,
                rgba(28, 28, 30, 0),
                rgba(0, 0, 0, 0.5) 37%,
                rgba(0, 0, 0, 0.25) 72%,
                rgba(28, 28, 30, 0)
            );
            transition: 0.5s ease;
        }
    }

    &__next {
        opacity: 0;
        z-index: 1000;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 25%;
    }

    &__prev {
        opacity: 0;
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
    }
}

.btn {
    border: none;
    font-weight: 500;
    color: white;
    padding: 10px 48px;
    text-align: center;
    cursor: pointer;

    &.btn-filled {
        font-size: 16px;
        background-color: #0a84ff;
        line-height: 1;
        letter-spacing: -0.4px;
        border-radius: 3px;

        &:hover {
            background-color: darken(#0a84ff, 15%);
        }
    }

    &.btn-border {
        font-size: 12px;
        line-height: 1.33;
        text-align: center;
        color: #0a84ff;
        border-radius: 5px;
        background-color: transparent;
        border: solid 1px #0a84ff;

        &:hover {
            border-color: darken(#0a84ff, 15%);
            color: darken(#0a84ff, 15%);
        }
    }

    &:focus {
        outline: 0;
    }
}
