.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__container {
        perspective: 100rem;
        position: relative;

        &--item {
            position: absolute;
        }

        &--index {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            & span {
                z-index: 11;
                display: inline-block;
                background-color: darken(white, 10);
                height: 10px;
                width: 10px;
                border-radius: 100%;
                transition: 0.5s ease;
                opacity: 0.7;
                margin: 4px;

                &.selected {
                    background-color: white;
                    opacity: 1;
                }
            }
        }
    }

    &__next {
        cursor: pointer;
        opacity: 0;
        z-index: 1000;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 25%;
    }

    &__prev {
        cursor: pointer;
        opacity: 0;
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
    }
}
